:root {
  --Dark-grey: hsl(20, 4%, 27%);
  --Dark-red: rgb(85, 0, 6);
  --Light-orange: rgb(236, 191, 172);
  --Lighter-orange: rgb(235, 197, 176);
}

* {box-sizing: border-box;}

body {
  margin: 0px auto;
  /* box-sizing: border-box; */
  place-content: center;
  min-height: 100vh;
  font-family: "Nunito Sans";
  font-size: 15px;
  background-color: var(--Lighter-orange);
  background-size: cover;
  max-width: 1440px;
}

/* main {
  padding: 40px 180px;
} */

/* .container {
  display: grid;
  justify-items: center;
} */

/* .container {
  position: relative;
  padding: 0px 36px;
} */

/* .container:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-image: url(./images/photo.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  border-radius: 24px;
} */

#survey-form:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-image: url(./images/photo.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  border-radius: 24px;
}


/* .image {
  position: relative;
} */



.info {
  /* padding: 0px 200px; */
  color: var(--Dark-red);
}

#title {
  font-size: 38px;
  font-weight: 700;
  text-align: center;
}

#description {
  text-align: center;
  font-size: 22px;
  margin: 0px;
}

#form-info{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 10px;
  align-items: baseline;
  justify-items: stretch;
  /* padding: 20px 200px; */
}

#name-label {
  font-size: 24px;
  display: block;
  font-weight: 600;
  text-align: center;
  color: var(--Dark-red);
}

#number-label {
  font-size: 24px;
  display: block;
  font-weight: 600;
  text-align: center;
  color: var(--Dark-red);
}

#email-label {
  font-size: 24px;
  display: block;
  font-weight: 600;
  text-align: center;
  color: var(--Dark-red);
}

#field {
  font-size: 24px;
  display: block;
  font-weight: 600;
  text-align: center;
  color: var(--Dark-red);
}

.box {
  font-size: 20px;
  /* padding: 15px 30px; */
  border-radius: 10px;
  border-style: none;
  background-color: var(--Lighter-orange);
  color: var(--Dark-grey);
}


input:valid {
  color: var(--Dark-red);
}

input:invalid {
  color: red;
}

.properties {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* padding: 15px 200px; */
  justify-items: center;
}
.path-option {
  border-style: solid;
  border-color: var(--Light-orange);
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 4px 6px rgba(0, 0, 0, 0.45);
  padding: 10px 10px;
  color: var(--Dark-red);
  border-radius: 8px;
}
#paths {
  font-size: 24px;
  font-weight: 600;
}

.path {
  font-size: 22px;
}

.option {
  color: var(--Dark-grey);
  font-weight: 600;
}

.superpowers-option {
  border-style: solid;
  border-color: var(--Light-orange);
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 4px 6px rgba(0, 0, 0, 0.45);
  padding: 10px 10px;
  color: var(--Dark-red);
  border-radius: 8px;
}

#superpowers {
  font-size: 24px;
  font-weight: 600;
}

.superpower {
  font-size: 22px;
  color: var(--Dark-grey);
  font-weight: 600;
}

#textarea {
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 4px 6px rgba(0, 0, 0, 0.45);
  width: 70%;
  border-color: var(--Light-orange);
  background-color: var(--Lighter-orange);
  opacity: 0.7;F
}

.text {
  /* padding: 15px 200px; */
  /* display: grid; */
  /* width: 50%; */
  /* margin: 0px; */
  text-align: center;
  font-size: 18px;
}

.submit-button {
  padding: 15px 250px;
  text-align: center;
}

#submit {
  background-color: var(--Light-orange);
  border-color: var(--Light-orange);
  padding: 20px;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 4px 6px rgba(0, 0, 0, 0.45);
  width: 50%;
  cursor: pointer;
  border-radius: 8px;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}

@media only screen and (max-width: 950px) {
  main {
    /* padding: 40px 100px; */
  }

  .info {
    /* padding: 0px 100px; */
  }
  #title {
    font-size: 30px;
  }

  #description {
    font-size: 18px;
  }

  #form-info{
    /* padding: 20px 100px; */
  }

  #name-label {
    font-size: 20px;
  }

  #number-label{
    font-size: 20px;
  }

  #email-label {
    font-size: 20px;
  }

  .properties {
    grid-template-columns: 1fr;
    gap: 20px;
    /* padding: 15px 100px; */
  }

  .text {
    /* padding: 15px 100px; */
  }

  .submit-button {
    /* padding: 15px 100px; */
  }

  @media only screen and (max-width: 700px) {
    main {
      /* padding: 40px 50px; */
    }

    .info {
      /* padding: 0px 50px; */
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    #title {
      /* font-size: 20px; */
      width: 20ch;
      display: inline-block;
    }

    #description {
      font-size: 15px;
      width: 30ch;
      display: inline-block;
    }

    #form-info {
      /* padding: 20px 50px; */
    }

    #name-label {
      font-size: 18px;
    }

    #number-label {
      font-size: 18px;
    }

    #email-label {
      font-size: 18px;
    }

    #field-label {
      font-size: 18px;
      width: 14ch;
    }

    .properties {
      grid-template-columns: 1fr;
      gap: 20px;
      /* padding: 15px 50px; */
    }

    .text {
      /* padding: 15px 50px; */
    }

    .submit-button {
      /* padding: 15px 50px; */
    }

    .box {
      width: 80%;
      font-size: 15px;
    }
  

  @media only screen and (max-width: 650px) {
    main {
      /* padding: 40px 25px; */
    }

    .info {
      /* padding: 0px 25px; */
    }

    #form-info{
      /* padding: 20px 25px; */
    }

    .box {
      width: 50%;
    }

    .properties {
      /* padding: 15px 25px; */
    }
  }
}
}
